.header{
    background : linear-gradient(to right , rgb(189, 92, 92) , rgb(98, 87, 87));
}

.header .nav li a:hover{
    color: black;
}
 

/* ---------------------------------------------------------------------------------------------- */

/* team section  */


.ourTeam .section-header{
    margin-top: 200px;
    animation-name: headerAnimate;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


.team-member{
    float: left;
    /* border: 1px solid black; */
    margin:  20px;
    text-align: center;
    width: 30%;
    height: 500px;
    position: relative;
    transition: transform 2s ;
}
.ourTeam .section-header .section-title{
    font-size: 50px;
}


.team-member .block1 {
    display: block;
    height: 150px;
    animation: blockHeader 7s infinite alternate;
}

/* .team-member:nth-child(3) .block1 {
    display: block;
    background:  linear-gradient(to left , rgb(224, 36, 11) , rgb(217, 221, 219) );
    height: 150px;
    animation: blockHeader 7s infinite alternate;
} */

/* .team-member:nth-child(4) .block1 {
    display: block;
    background:  linear-gradient(to right , rgb(216, 215, 221) , rgb(9, 245, 45) );
    height: 150px;
    animation: blockHeader 7s infinite alternate;
} */

.team-member .team-image img{
    border-radius: 50%;
    width: 30%;
    margin-top: -15%;
    margin-bottom: 30px;
}

.team-member:nth-child(2) .team-image img{
    height: 150px;
}

.team-member:nth-child(3) .team-image img{
    height: 150px;
}

.team-member .team-body h2{ 
    text-transform: capitalize;
    color: rgb(149, 23, 23);
    font-size: 30px;
    font-weight: bolder;
    font-family: cursive;
    margin-bottom: 30px;
}

.team-member .team-body p{ 
    text-transform: capitalize;
    color: rgb(171, 167, 167);
    font-size: 20px;
    font-weight: bolder;
    font-family: cursive;
    margin-bottom: 30px;

}

.team-member .team-icon a{
    margin:  0 20px;
    border: 3px solid rgb(215, 209, 209) ;
    border-radius: 50%;
    font-size: 30px;
    padding: 10px;
    position: absolute;
    /* overflow: hidden; */
}

.team-icon a:nth-child(1){
    left: 30%;
}
.team-icon a:nth-child(2){
    left: 45%;
}
.team-icon a:nth-child(3){
    left: 60%;

}

.team-member .line{
    display: block;
    height: 2px;
    width: 100%;
    margin: auto;
    background-color: rgb(194, 182, 182);
    position: absolute;
    bottom: 113px;
    overflow: hidden;
    
}


.team-member:hover {
     /* transform: scale3d(0 , 1 , 0); */
    transform: scale(0.7);
}


.team-member .team-icon a:hover {
    background: linear-gradient(to left , rgb(76, 217, 41) , rgb(37, 104, 192));
    border:  solid green;
}

/* -------------------------------------------------------------------------------------------------------- */

/* Animations  */


@keyframes headerAnimate{
    /* from{color: black;}
    to{color: red;}
     */

     0% {color: red ;}
     25% {color: rgb(17, 246, 17) ;}
     50% {color: rgb(11, 123, 215) ;}
     100% {color: rgb(240, 15, 150) ;}
    }


    @keyframes blockHeader {
        10% {   background:  linear-gradient(to bottom , rgb(188, 83, 188) , rgb(9, 177, 185) )}
        30% {   background: linear-gradient(to left , rgb(76, 217, 41) , rgb(37, 104, 192));}
        50% {   background:  linear-gradient(to right , rgb(211, 208, 223) , rgb(234, 53, 53) );}
        70% {   background:  linear-gradient(to left , rgb(224, 36, 11) , rgb(227, 239, 11) )}
        80% {  background: linear-gradient(to left , rgb(76, 217, 41) , rgb(37, 104, 192));}
        90% {   background: linear-gradient(to left , rgb(217, 41, 211) , rgb(183, 219, 158));}
        100% {   background: linear-gradient(to left , rgb(216, 20, 111) , rgb(190, 209, 192));}


    }