

        <!-- Header -->
        <div class="header">
            <div class="container">
                <div class="logo">
                    <a href="#" routerLink="/home"> <img src="../../assets/images/logo-alt.webp" alt="logo-image" draggable="false"></a>
                </div>

                <ul class="nav">
                    <li><a href="#" routerLink="/protofolio">protoflio</a></li>
                    <li><a href="#" routerLink="/service">service</a></li>
                    <li><a href="#" routerLink="/blog">blog</a></li>
                    <li><a href="#" routerLink="/team">team</a></li>
                    <li><a href="#" routerLink="/about">about</a></li>
                    <li><a href="#" routerLink="/price">price</a></li>
                    <li><a href="#" routerLink="/contact">contact</a></li>
                    <li ><a href="#" routerLink="/signin">sign-in</a></li>
                    <li ><a href="#" routerLink="/signup">sign-up</a></li>
                </ul>
                <div class="clear"></div>
            </div><!--/container-->
        </div><!--/header--> 




<div class="price pd-y  ">

    <div class="container">

        <div class="section-header ">
            <h2 class="section-title ">pricing table</h2>
            <span class="line"></span>
        </div> 
        

        <div class="item">
            <div class="item-header">
                <h3>personal</h3>
                <p>Get the party started</p>
            </div>
           
            <span class="line"></span>
           
            <div class="item-price">
                 <span> $35</span>
            </div>

            <span class="line"></span>

            <div class="item-body">
                <p>Pricing tables play an important role for every company that offers products or services. </p>

                <button mat-raised-button color="primary">get started  </button>
            </div>
            
        </div>

        <div class="item">
            <div class="item-header">
                <h3>expert</h3>
                <p>Get the party started</p>
            </div>
           
            <span class="line"></span>
           
            <div class="item-price">
                 <span> $55</span>
            </div>

            <span class="line"></span>

            <div class="item-body">
                <p>Pricing tables play an important role for every company that offers products or services. </p>

                <button mat-raised-button color="primary">get started  </button>
            </div>
            
        </div>


        <div class="item">
            <div class="item-header">
                <h3>business</h3>
                <p>Get the party started</p>
            </div>
           
            <span class="line"></span>
           
            <div class="item-price">
                 <span> $75</span>
            </div>

            <span class="line"></span>

            <div class="item-body">
                <p>Pricing tables play an important role for every company that offers products or services. </p>

                <button mat-raised-button color="primary">get started  </button>
            </div>
            
        </div>




        </div>



    
</div>
   
<div class="pd-y"></div>
        <!-- footer -->

        <div class="footer ">
            <img src="../../assets/images/logo-alt.webp">
            <ul class="footer-links">
                <li><a href="http://www.facebook.com" target="_blank" class="hover-opacity"><i class="fa fa-facebook-square "></i></a></li>
                <li><a href="http://www.twitter.com" target="_blank" class="hover-opacity"><i class="fa fa-twitter"></i> </a></li>
                <li><a href="http://www.youtube.com" target="_blank" class="hover-opacity"><i class="fa fa-youtube"></i></a></li>
                <li><a href="http://www.linkiden.com" target="_blank" class="hover-opacity"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="http://www.instagram.com" target="_blank" class="hover-opacity"><i class="fa fa-instagram"></i></a></li>
                <li><a href="http://www.whatsapp.com" target="_blank" class="hover-opacity"><i class="fa fa-whatsapp"></i></a></li>
            </ul><!--/fotwitwhatsapp-->
        </div><!--/footerwhatsapp-->
        