
<div class="container">

    <h3 style="color: slateblue;">Enter "T" or "F" </h3><br>
    <label for="name">name</label><br>
    <input type="text" class="form-control" id="input"><br>
    <button class="btn btn-danger" id="btn" (click)="onClick()">Display</button><br><br>
    <button class="btn btn-success" id="btn" (click)="reset()">refresh</button><br><br>

    <div style="display: flex;">
        <div class="div1" style=" color: green; display: none; margin-right: 50px;" ngShow="text">Hello form the true div</div>
        
        <div class="div2" style=" color: red; display: none;">Hello form the false div</div>
    
    </div>
</div> 


