

        <!-- Header -->
        <div class="header">
            <div class="container">
                <div class="logo">
                    <a href="#" routerLink="/home"> <img src="../../assets/images/logo-alt.webp" alt="logo-image" draggable="false"></a>
                </div>

                <ul class="nav">
                    <li><a href="#" routerLink="/protofolio">protoflio</a></li>
                    <li><a href="#" routerLink="/service">service</a></li>
                    <li><a href="#" routerLink="/blog">blog</a></li>
                    <li><a href="#" routerLink="/team">team</a></li>
                    <li><a href="#" routerLink="/about">about</a></li>
                    <li><a href="#" routerLink="/price">price</a></li>
                    <li><a href="#" routerLink="/contact">contact</a></li>
                    <li ><a href="#" routerLink="/signin">sign-in</a></li>
                    <li ><a href="#" routerLink="/signup">sign-up</a></li>
                </ul>
                <div class="clear"></div>
            </div><!--/container-->
        </div><!--/header--> 

        
        <div class="home">
            <div class="overlay">
                <div class="home-content">
        
                    <div class="section-header">
                        <h2 class="section-title">get to know us </h2>
                        <span class="line"></span>
                    </div>
                    
                    <div class="about ">   
                        <div class="about-item">
                            <div class="img-item">
                                <img src="../../assets/images/about/leadership.png" alt="">
                            </div>
                            <h3 class="item-header">
                                LEADERSHIP
                            </h3>
                            <p>Our multicultural leaders have deep start-up and enterprise experience, with rich mobile and data expertise.</p>
                        </div>

                        <div class="about-item">
                            <div class="img-item">
                                <img src="../../assets/images/about/partenrship.png" alt="">
                            </div>

                            <h3 class="item-header">
                                PARTNERSHIPS
                            </h3>
                            <p>From research, to events, to platform partnerships, we work with thought leaders to provide more actionable data.</p>
                        </div>

                        <div class="about-item">
                            <div class="img-item">
                                <img src="../../assets/images/about/careers.jpg" alt="">
                            </div>

                            <h3 class="item-header">
                                CAREERS
                            </h3>
                            <p>We take great pride in our market leadership position, thanks to the hard work of our incredibly talented.</p>
                        </div>

                        <div class="about-item">
                            <div class="img-item">
                                <img src="../../assets/images/about/press.jpg" alt="">
                            </div>

                            <h3 class="item-header">
                                PRESS
                            </h3>
                            <p>We are at the forefront of the market’s conversations and serve as the most trusted, global source.</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div> 

        
                    
        <!-- footer -->
        <div class="footer ">
            <img src="../../assets/images/logo-alt.webp">
            <ul class="footer-links">
                <li><a href="http://www.facebook.com" target="_blank" class="hover-opacity"><i class="fa fa-facebook "></i></a></li>
                <li><a href="http://www.twitter.com" target="_blank" class="hover-opacity"><i class="fa fa-twitter"></i> </a></li>
                <li><a href="http://www.youtube.com" target="_blank" class="hover-opacity"><i class="fa fa-youtube"></i></a></li>
                <li><a href="http://www.linkiden.com" target="_blank" class="hover-opacity"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="http://www.instagram.com" target="_blank" class="hover-opacity"><i class="fa fa-instagram"></i></a></li>
                <li><a href="http://www.whatsapp.com" target="_blank" class="hover-opacity"><i class="fa fa-whatsapp"></i></a></li>
            </ul><!--/fotwitwhatsapp-->
        </div><!--/footerwhatsapp-->
