
<!-- Header -->
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="#" routerLink="/home"> <img src="../../assets/images/logo-alt.webp" alt="logo-image" draggable="false"></a>
        </div>

        <ul class="nav">
            <li><a href="#" routerLink="/protofolio">protoflio</a></li>
            <li><a href="#" routerLink="/service">service</a></li>
            <li><a href="#" routerLink="/blog">blog</a></li>
            <li><a href="#" routerLink="/team">team</a></li>
            <li><a href="#" routerLink="/about">about</a></li>
            <li><a href="#" routerLink="/price">price</a></li>
            <li><a href="#" routerLink="/contact">contact</a></li>
            <li ><a href="#" routerLink="/signin">sign-in</a></li>
            <li ><a href="#" routerLink="/signup">sign-up</a></li>
        </ul>
        <div class="clear"></div>
    </div><!--/container-->

</div><!--/header--> 


        <div class="news  ">
            <div class="pd-y"></div>
            <div class="section-header">
                <h2 class="section-title">Recent News</h2>
                <span class="line"></span>
            </div> <!-- /section-header-->

            <div class="container">
                <div class="news-item">
                    <div class="news-image">
                        <img src="assets/images/blog/blog1.webp">
                    </div>
                    <div class="icon">
                        <i class="fa fa-user icon1"><span>john doe</span></i>
                        <i class="fas fa-calendar"><span>18 oct</span></i>
                        <i class="fa fa-comments"><span>57</span></i>

                    </div>
                    <div class="news-content">
                        <h2 class="news-title">Oracle / PLSQL: Create a Schema
                        </h2>
                        <p class="news-text">This Oracle tutorial explains how to
                                create a schema in Oracle with syntax and examples.
                                The next step in setting up your schema is to assign
                                "system privileges" to the new user smithj.
                        </p><!--/news-text-->
                        <a href="#" >read more...</a>
                    </div><!--/news-content-->
                </div><!--/news-item-->

                <div class="news-item">
                    <div class="news-image">
                        <img src="assets/images/blog/blog2.webp">
                    </div><!--/news-image-->
                    <div class="icon">
                        <i class="fa fa-user icon1"><span>john doe</span></i>
                        <i class="fas fa-calendar"><span>18 oct</span></i>
                        <i class="fa fa-comments"><span>57</span></i>

                    </div>
                    <div class="news-content">
                        <h2 class="news-title">Oracle / PLSQL: Create a Schema
                        </h2>
                        <p class="news-text">This Oracle tutorial explains how to
                                create a schema in Oracle with syntax and examples.
                                The next step in setting up your schema is to assign
                                "system privileges" to the new user smithj.
                        </p><!--/news-text-->
                        <a href="#" >read more...</a>
                    </div><!--/news-content-->
                </div><!--/newss-item-->
                
                <div class="news-item">
                            <div class="news-image">
                        <img src="assets/images/blog/blog3.webp">
                    </div><!--/news-image-->
                    <div class="icon">
                        <i class="fa fa-user icon1"><span>john doe</span></i>
                        <i class="fas fa-calendar"><span>18 oct</span></i>
                        <i class="fa fa-comments"><span>57</span></i>

                    </div>
                    <div class="news-content">
                        <h2 class="news-title">Oracle / PLSQL: Create a Schema
                        </h2>
                        <p class="news-text">This Oracle tutorial explains how to
                                create a schema in Oracle with syntax and examples.
                                The next step in setting up your schema is to assign
                                "system privileges" to the new user smithj.
                        </p><!--/news-text-->
                        <a href="#" >read more...</a>
                    </div><!--/news-content-->
                </div><!--/newss-item-->
                <div class="clear"></div>
            </div><!--container-->

        </div><!--news-->


        <div class="pd-y"></div>
        

        <!-- footer -->
        <div class="footer ">
            <img src="../../assets/images/logo-alt.webp">
            <ul class="footer-links">
                <li><a href="http://www.facebook.com" target="_blank" class="hover-opacity"><i class="fa fa-facebook-square "></i></a></li>
                <li><a href="http://www.twitter.com" target="_blank" class="hover-opacity"><i class="fa fa-twitter"></i> </a></li>
                <li><a href="http://www.youtube.com" target="_blank" class="hover-opacity"><i class="fa fa-youtube"></i></a></li>
                <li><a href="http://www.linkiden.com" target="_blank" class="hover-opacity"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="http://www.instagram.com" target="_blank" class="hover-opacity"><i class="fa fa-instagram"></i></a></li>
                <li><a href="http://www.whatsapp.com" target="_blank" class="hover-opacity"><i class="fa fa-whatsapp"></i></a></li>
            </ul><!--/fotwitwhatsapp-->
        </div><!--/footerwhatsapp-->
        
